@import "../../../theme/scss/styles.scss";

.collection_manage {
    padding: 0rem 10rem;

    &_header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_title {
            font-weight: 700 !important;
        }
    }

    &_body {
        padding-top: 2rem;
    }
}
