@import "../../../theme/scss/styles.scss";

.get-ready {
    &__wrapper {
        z-index: 0;
        width: 100%;
        min-height: 100%;
        overflow: hidden;
    }

    &__container {
        width: 100%;
        height: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        color: $color-light-100;

        .header {
            position: fixed;
            top: 0;
            width: 100%;
            padding: 2.5rem;
            text-align: center;
            background-color: $color-light-100;
            color: $color-dark-100;

            > span {
                background-color: $color-light-200;
                padding: 0.5rem 1rem;
                font-weight: $font-weight-bold;
                font-size: $font-size-lg;
                border-radius: 2rem;
            }
        }

        .timer {
            background-color: $color-light-100;
            height: 15rem;
            width: 15rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            margin: 1rem;

            .MuiTypography-root {
                font-weight: $font-weight-bold;
                font-size: 5rem;
            }
        }

        .player-details {
            background: $color-light-100;
            padding: 2rem;
            position: fixed;
            bottom: 0;
            left: 0;
            color: $color-dark-100;
            width: 100%;

            @media (min-width: 960px) {
                padding: 2rem 6rem;
            }

            > .MuiTypography-root {
                font-weight: $font-weight-bold;
            }
        }
    }
}
